{
  "openapi": "3.1.0",
  "info": {
    "title": "SynSense Website Content API",
    "version": "wp/v2",
    "summary": "Anonymous, read-only content API for synsense.ai — products, partners, offices, awards, open roles and news.",
    "description": "The public WordPress REST API served by SynSense (formerly aiCTX) at https://www.synsense.ai/wp-json. SynSense publishes no product/developer HTTP API for its neuromorphic processors — its developer surface is a set of open-source Python libraries (Samna, Rockpool, Sinabs) — but the corporate site exposes a live, fully anonymous, machine-readable content API whose custom post types carry real company data: 8 product entries, 59 partners, 48 awards, 6 offices, 10 open roles and 33 news posts (counts observed 2026-09-14 from the X-WP-Total response header).\n\nTHIS DOCUMENT IS DERIVED, NOT PUBLISHED BY THE PROVIDER. Every path, parameter and schema in it was read mechanically from surfaces the provider itself serves: the route index at https://www.synsense.ai/wp-json/ and the per-route JSON Schema returned by an HTTP OPTIONS request against each collection. Nothing here was invented. Only the anonymously readable GET operations are described; the same routes also declare POST/PUT/PATCH/DELETE, which require WordPress authentication (application passwords, authorization endpoint https://www.synsense.ai/wp-admin/authorize-application.php) and were never exercised.",
    "contact": {
      "name": "SynSense",
      "url": "https://www.synsense.ai/contact-2/"
    },
    "license": {
      "name": "Site content is SynSense's; see Terms of Service",
      "url": "https://www.synsense.ai/terms-of-service/"
    }
  },
  "servers": [
    {
      "url": "https://www.synsense.ai/wp-json",
      "description": "SynSense corporate site, WordPress REST API root"
    }
  ],
  "x-generated-from": "https://www.synsense.ai/wp-json/ route index + HTTP OPTIONS JSON Schema per route",
  "x-generated-on": "2026-09-14",
  "x-generated-by": "API Evangelist enrichment pipeline (derived, not provider-published)",
  "tags": [
    {
      "name": "Discovery",
      "description": "Self-describing index, content types, taxonomies, statuses and site search."
    },
    {
      "name": "News",
      "description": "SynSense news posts."
    },
    {
      "name": "Content",
      "description": "Site pages, media attachments and authors."
    },
    {
      "name": "Taxonomy",
      "description": "Post categories and tags."
    },
    {
      "name": "Products",
      "description": "SynSense product entries and their categories."
    },
    {
      "name": "Careers",
      "description": "Open roles at SynSense."
    },
    {
      "name": "Partners",
      "description": "SynSense partner organisations and their categories."
    },
    {
      "name": "Awards",
      "description": "Awards and recognition."
    },
    {
      "name": "Company",
      "description": "Offices and their country/city taxonomies."
    }
  ],
  "paths": {
    "/wp/v2/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List posts",
        "description": "News posts published on synsense.ai.",
        "tags": [
          "News"
        ],
        "security": [],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to posts assigned to specific authors.",
            "style": "form",
            "explode": false
          },
          {
            "name": "author_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "style": "form",
            "explode": false
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the categories taxonomy."
          },
          {
            "name": "categories_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items except those with specific terms assigned in the categories taxonomy."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified after a given ISO8601 compliant date."
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified before a given ISO8601 compliant date."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            },
            "description": "Sort collection by post attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to posts with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "publish",
                  "future",
                  "draft",
                  "pending",
                  "private",
                  "trash",
                  "auto-draft",
                  "inherit",
                  "request-pending",
                  "request-confirmed",
                  "request-failed",
                  "request-completed",
                  "acf-disabled",
                  "any"
                ],
                "type": "string"
              },
              "x-wp-default": "publish"
            },
            "description": "Limit result set to posts assigned one or more statuses.",
            "style": "form",
            "explode": false
          },
          {
            "name": "sticky",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Limit result set to items that are sticky."
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the tags taxonomy."
          },
          {
            "name": "tags_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items except those with specific terms assigned in the tags taxonomy."
          },
          {
            "name": "tax_relation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            },
            "description": "Limit result set based on relationship between multiple taxonomies."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of posts. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/posts/{id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Retrieve a post",
        "description": "Retrieve a single post by id.",
        "tags": [
          "News"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the post.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The password for the post if it is password protected."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/pages": {
      "get": {
        "operationId": "listPages",
        "summary": "List pages",
        "description": "Static site pages.",
        "tags": [
          "Content"
        ],
        "security": [],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to posts assigned to specific authors.",
            "style": "form",
            "explode": false
          },
          {
            "name": "author_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "style": "form",
            "explode": false
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "menu_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to posts with a specific menu_order value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified after a given ISO8601 compliant date."
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified before a given ISO8601 compliant date."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title",
                "menu_order"
              ]
            },
            "description": "Sort collection by post attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to items with particular parent IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "parent_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to all items except those of a particular parent ID.",
            "style": "form",
            "explode": false
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to posts with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "publish",
                  "future",
                  "draft",
                  "pending",
                  "private",
                  "trash",
                  "auto-draft",
                  "inherit",
                  "request-pending",
                  "request-confirmed",
                  "request-failed",
                  "request-completed",
                  "acf-disabled",
                  "any"
                ],
                "type": "string"
              },
              "x-wp-default": "publish"
            },
            "description": "Limit result set to posts assigned one or more statuses.",
            "style": "form",
            "explode": false
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of pages. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Page"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/pages/{id}": {
      "get": {
        "operationId": "getPage",
        "summary": "Retrieve a page",
        "description": "Retrieve a single page by id.",
        "tags": [
          "Content"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The password for the post if it is password protected."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/media": {
      "get": {
        "operationId": "listMedia",
        "summary": "List media",
        "description": "Uploaded media attachments (datasheets, images, PDFs).",
        "tags": [
          "Content"
        ],
        "security": [],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to posts assigned to specific authors.",
            "style": "form",
            "explode": false
          },
          {
            "name": "author_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "style": "form",
            "explode": false
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "video",
                "text",
                "application",
                "audio"
              ]
            },
            "description": "Limit result set to attachments of a particular media type."
          },
          {
            "name": "mime_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit result set to attachments of a particular MIME type."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified after a given ISO8601 compliant date."
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified before a given ISO8601 compliant date."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            },
            "description": "Sort collection by post attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to items with particular parent IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "parent_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to all items except those of a particular parent ID.",
            "style": "form",
            "explode": false
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to posts with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "inherit",
                  "private",
                  "trash"
                ],
                "type": "string"
              },
              "x-wp-default": "inherit"
            },
            "description": "Limit result set to posts assigned one or more statuses.",
            "style": "form",
            "explode": false
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of media. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MediaItem"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/media/{id}": {
      "get": {
        "operationId": "getMediaItem",
        "summary": "Retrieve a mediaitem",
        "description": "Retrieve a single mediaitem by id.",
        "tags": [
          "Content"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the mediaitem.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested mediaitem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List categories",
        "description": "Post categories.",
        "tags": [
          "Taxonomy"
        ],
        "security": [],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "hide_empty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to hide terms not assigned to any posts."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name",
              "enum": [
                "id",
                "include",
                "name",
                "slug",
                "include_slugs",
                "term_group",
                "description",
                "count"
              ]
            },
            "description": "Sort collection by term attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to terms assigned to a specific parent."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "post",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to terms assigned to a specific post."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to terms with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/categories/{id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Retrieve a category",
        "description": "Retrieve a single category by id.",
        "tags": [
          "Taxonomy"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the category.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Post tags.",
        "tags": [
          "Taxonomy"
        ],
        "security": [],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "hide_empty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to hide terms not assigned to any posts."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name",
              "enum": [
                "id",
                "include",
                "name",
                "slug",
                "include_slugs",
                "term_group",
                "description",
                "count"
              ]
            },
            "description": "Sort collection by term attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "post",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to terms assigned to a specific post."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to terms with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tags. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Retrieve a tag",
        "description": "Retrieve a single tag by id.",
        "tags": [
          "Taxonomy"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the tag.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested tag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/products_list": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "SynSense product entries (Speck, Xylo, DYNAP-CNN, DVS, Rockpool, Sinabs, Samna...).",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified after a given ISO8601 compliant date."
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified before a given ISO8601 compliant date."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            },
            "description": "Sort collection by post attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "product_category",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the product_category taxonomy."
          },
          {
            "name": "product_category_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items except those with specific terms assigned in the product_category taxonomy."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to posts with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "publish",
                  "future",
                  "draft",
                  "pending",
                  "private",
                  "trash",
                  "auto-draft",
                  "inherit",
                  "request-pending",
                  "request-confirmed",
                  "request-failed",
                  "request-completed",
                  "acf-disabled",
                  "any"
                ],
                "type": "string"
              },
              "x-wp-default": "publish"
            },
            "description": "Limit result set to posts assigned one or more statuses.",
            "style": "form",
            "explode": false
          },
          {
            "name": "tax_relation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            },
            "description": "Limit result set based on relationship between multiple taxonomies."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of products. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/products_list/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Retrieve a product",
        "description": "Retrieve a single product by id.",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the product.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The password for the post if it is password protected."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/product_category": {
      "get": {
        "operationId": "listProductCategories",
        "summary": "List productcategories",
        "description": "Product categories.",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "hide_empty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to hide terms not assigned to any posts."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name",
              "enum": [
                "id",
                "include",
                "name",
                "slug",
                "include_slugs",
                "term_group",
                "description",
                "count"
              ]
            },
            "description": "Sort collection by term attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to terms assigned to a specific parent."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "post",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to terms assigned to a specific post."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to terms with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of productcategories. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductCategory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/product_category/{id}": {
      "get": {
        "operationId": "getProductCategory",
        "summary": "Retrieve a productcategory",
        "description": "Retrieve a single productcategory by id.",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the productcategory.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested productcategory.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wp/v2/careers_list": {
      "get": {
        "operationId": "listJobs",
        "summary": "List jobs",
        "description": "Open roles at SynSense.",
        "tags": [
          "Careers"
        ],
        "security": [],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the city taxonomy."
          },
          {
            "name": "city_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items except those with specific terms assigned in the city taxonomy."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the country taxonomy."
          },
          {
            "name": "country_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items except those with specific terms assigned in the country taxonomy."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified after a given ISO8601 compliant date."
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified before a given ISO8601 compliant date."
          },
          {
            "name": "office",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the office taxonomy."
          },
          {
            "name": "office_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "include_children": {
                      "description": "Whether to include child terms in the terms limiting the result set.",
                      "type": "boolean",
                      "default": false
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items except those with specific terms assigned in the office taxonomy."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            },
            "description": "Sort collection by post attribute."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to posts with one or more specific slugs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "publish",
                  "future",
                  "draft",
                  "pending",
                  "private",
                  "trash",
                  "auto-draft",
                  "inherit",
                  "request-pending",
                  "request-confirmed",
                  "request-failed",
                  "request-completed",
                  "acf-disabled",
                  "any"
                ],
                "type": "string"
              },
              "x-wp-default": "publish"
            },
            "description": "Limit result set to posts assigned one or more statuses.",
            "style": "form",
            "explode": false
          },
          {
            "name": "tax_relation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            },
            "description": "Limit result set based on relationship between multiple taxonomies."
          },
          {
            "name": "wpml_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "zh-hans",
                "en"
              ]
            },
            "description": "WPML's language code"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jobs. Total item and page counts are returned in the X-WP-Total and X-WP-TotalPages response headers.",
            "headers": {
              "X-WP-Total": {
                "description": "Total number of items in the collection.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-WP-TotalPages": {
                "description": "Total number of pages available at the current per_page size.",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "RFC 8288 pagination links (rel=next, rel=prev).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/wp/v2/careers_list/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Retrieve a job",
        "description": "Retrieve a single job by id.",
        "tags": [
          "Careers"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
[...]
